* {
    box-sizing: border-box;
    background-color: #FFFFFE;
}

body {
    max-width: 1000px;
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
}

.banner {
    height: 200px;
    width:auto;
    background-color: #B3DEC1;
}

.menu-bar {
    list-style-type: none;
    height: 40px;
    padding: 5px;
    margin: 0px;
    width: auto;
    background: #DB995A;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-item {
    font-size: 20px;
    background: none;
    display: inline;
    text-align: center;
    flex: auto;
}

.menu-link {
    background-color: #DB995A;
    color: #654236;
    font-weight: bold;
    text-decoration: none;
}

.menu-link:hover {
    padding: 9px 0px;
    background-color: #654236;
    color: #DB995A;
}

.recipes {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 20px auto;
    background-color: #FFFFFE;
}

/* Cocktail Polaroid Effect */
.cocktail {
    flex: 0 1 250px;
    display: flex;
    flex-flow: column;
    box-shadow: 10px 10px 20px 1px #0F0F0F;
    margin-left: 5px;
    margin-bottom: 20px;

}

.cocktail img {
    width: 90%;
    height: 200px;
    margin: 10px auto;
    object-fit: cover;
}

.cocktail p {
    text-align: center;
    font-style: italic;
    padding: 20px 0;
}